<?xml version="1.0"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <coverage processUncoveredFiles="true">
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="steam-market-providers/enums">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>